/* Colour scheme from Kuler: https://kuler.adobe.com/Miami-Sunset-color-theme-4099955/ */

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	background: #455c7b;
	color: #ffaa5c;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	padding-bottom: 40px;
	text-align: center;
}

@media all and (max-width: 700px) {
	html {
		font-size: 40px;
	}
}

@media all and (max-width: 560px) {
	html {
		font-size: 30px;
	}
}

@media all and (max-width: 430px) {
	html {
		font-size: 25px;
	}
}

h1 {
	font-weight: 300;
	margin-bottom: 1em;
}
h1 a {
	color: inherit;
	text-decoration: inherit;
}
h2 {
	font-size: 1em;
	font-weight: 300;
	margin-bottom: 2em;
}

h1 span {
	font-weight: bold;
}

/* App state */
section {
	display: none;
}
body[data-state=enterName] section.enterName, body[data-state=go] section.go {
	display: block;
}
body[data-running="0"] [data-only-running], body[data-running="1"] [data-only-stopped] {
	display: none;
}
body[data-supported="0"] [data-only-supported], body[data-supported="1"] [data-only-unsupported] {
	display: none;
}

/* Hints */
.hint {
	font-size: 12px;
	margin-top: 5em;
}

/* Form */
label {
	font-size: 0.5em;
}
input, button {
	border: 0;
	font-size: 1em;
	font-weight: 300;
	max-width: 100%;
}
input:focus, button:focus {
	outline: none;
}

input {
	background: transparent;
	border: 2px dashed #2C4362;
	color: inherit;
	display: block;
	margin: 0 auto 0.3em;
	padding: 0.2em 0.4em;
}

button {
	background: #da727e;
	color: #455c7b;
	cursor: pointer;
	padding: 0.3em 0.5em;
	transition: background 0.2s;
}
button:hover {
	background: #ac6c82;
}
button:active {
	background: black;
}

/* Footer */
footer {
	font-size: 12px;
	padding: 2px 5px;

	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
}
footer:after {
	clear: both;
	content: '';
	display: table;
}
footer .credit {
	float: right;
	margin-top: 10px;
}
footer .credit a {
	color: inherit;
}
footer .addthis_sharing_toolbox {
	float: left;
	min-height: 36px;
}